<script type="text/x-template" id="pckg-dynamic-record-tabs">
    <div class="pckg-dynamic-record-tabs">
        <h2>
            {{ formalize.getTitle() | raw }}
            <pckg-maestro-actions-{{ table }} :recordactionhandler="recordactionhandler"
                                              :record="{{ tabelize.transformRecord(record) | json_encode | escape }}"
                                              :identifier="'{{ table }}'"></pckg-maestro-actions-{{ table }}>
        </h2>

        <ul class="nav nav-pills" role="tablist" id="ajaxTabs">
            <li role="presentation" class="active">
                <a href="#home" aria-controls="home" role="tab" data-toggle="tab">{{ __('pckg.dynamic.tab.home') }}</a>
            </li>
            {% for tab in tabs %}
                <li role="presentation">
                    <a href="#dynamic-tab-{{ tab.id }}" aria-controls="dynamic-tab-{{ tab.id }}" role="tab"
                       data-toggle="tab"
                       @click.prevent="selectTab({{ tab.id }})">{{ tab.name }}</a>
                </li>
            {% endfor %}
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">
                {{ formalize | raw }}

                <!-- tabelizes -->
                {% for t in tabelizes.0 %}
                    {{ t | raw }}
                {% endfor %}

                <!-- functionizes -->
                {% for f in functionizes.0 %}
                    {{ f | raw }}
                {% endfor %}
            </div>
            {% for tab in tabs %}
                <div role="tabpanel" class="tab-pane" id="dynamic-tab-{{ tab.id }}">
                    <i class="fa fa-2x fa-spinner fa-spin fa-fw text-center"></i>
                    <keep-alive>
                        <template v-if="selectedTab == {{ tab.id }}">
                            <dynamic-tab-{{ tab.id }}></dynamic-tab-{{ tab.id }}>
                        </template>
                    </keep-alive>
                </div>
            {% endfor %}
        </div>
    </div>
</script>

<script type="text/javascript">
    Vue.component('pckg-dynamic-record-tabs', {
        mixins: [pckgDelimiters],
        template: '#pckg-dynamic-record-tabs',
        name: 'pckg-dynamic-record-tabs',
        data: function () {
            return {
                recordactionhandler: function (record, action) {
                    $dispatcher.$emit('record:' + action, record, record.id);
                },
                selectedTab: null
            };
        },
        methods: {
            selectTab: function (tabId) {
                this.selectedTab = tabId;
                /**
                 * Destroy and re-init component?
                 */
                $dispatcher.$emit('dynamic-tab-' + tabId + ':refresh', {
                    tabId: tabId, callback: function (data) {
                        if (data.functionizes) {
                            $(this.$el).find('.tab-functionize').html(data.functionizes.join(''));
                        }
                    }.bind(this)
                });
            }
        }
    });

    {% for tab in tabs %}
    Vue.component('dynamic-tab-{{ tab.id }}', function (resolve) {
        http.getJSON('{{ tabelize.getTabUrl(tab) }}?html=1', function (data) {
            $('body').append(data.vue);

            resolve({
                template: '<div>' + data.html + '</div>',
                mixins: [pckgDelimiters],
                mounted: function () {
                    $(this.$el).closest('.tab-pane').find('> .fa').detach();
                }
            });
        });
    });
    {% endfor %}
</script>