<div class="pckg-maestro-table-{{ table }}">
    <template v-if="depth > 0">
    <table class="table table-condensed table-striped table-hover">
            <tr v-for="(record,i) in records" :key="record.id">
                <td>
                    <legend>${ groups[depth - 1][i] ? groups[depth - 1][i] : i }</legend>
                    <!--<pckg-maestro-table-{{ table }} :records="record"
                                                    :fields="fields"
                                                    :depth="depth - 2"
                                                    :groups="groups"
                                                    :ids="ids"
                                                    :search="search"
                                                    :entityactions="entityactions"
                                                    :paginator="paginator"
                                                    :table="table"
                                                    :resetpaginatorurl="resetPaginatorUrl"
                                                    :sort="sort"
                                                    :togglefield="togglefield"
                                                    :first=""></pckg-maestro-table-{{ table }}>-->
                </td>
            </tr>
        </table>
    </template>
    <template v-if="depth < 1">
        <table class="table table-condensed table-striped table-hover">
            <thead>
            <tr>
                <th v-for="field in fields"
                    :class="field.fieldType && field.fieldType.slug ? field.fieldType.slug : ''"
                    class="affix-thead-container">
                    <div class="affix-thead-fixed" @click.prevent="togglefield(field.id)">
                        <div>
                            ${ field.title }
                                <span v-if="sort.field == field.id">
                                    <i class="fa"
                                       :class="[sort.dir == 'up' ? 'fa-chevron-up' : 'fa-chevron-down']"></i>
                                </span>
                        </div>
                    </div>
                    <div class="affix-thead-static" @click.prevent="togglefield(field.id)">
                        ${ field.title }
                            <span v-if="sort.field == field.id">
                                <i class="fa"
                                   :class="[sort.dir == 'up' ? 'fa-chevron-up' : 'fa-chevron-down']"></i>
                            </span>
                    </div>
                </th>
                <th class="text-right affix-thead-container">
                    <div class="affix-thead-fixed">
                        <div>
                            {{ __('select_all') }}
                        </div>
                    </div>
                    <div class="affix-thead-static">
                        {{ __('select_all') }}
                    </div>
                </th>
                <th class="affix-thead-container">
                    <div class="affix-thead-fixed">
                        <div>
                            <input type="checkbox" @click="checkAll"
                                   v-model="allChecked"
                                   value="1"/>
                        </div>
                    </div>
                    <div class="affix-thead-static">
                        <input type="checkbox" @click="checkAll"
                               v-model="allChecked"
                               value="1"/>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="record in filteredRecords"
                :class="record.tabelizeClass ? record.tabelizeClass : ''">
                <td v-for="field in fields"
                    :class="field.fieldType && field.fieldType.slug ? field.fieldType.slug : ''">
                    <pckg-maestro-field :field="field" :record="record" :model="record[field.field]" :table="table"></pckg-maestro-field>
                </td>
                <td class="actions">
                    <pckg-maestro-actions-{{ table }} :record="record"
                                          :recordactionhandler="recordactionhandler"></pckg-maestro-actions-{{ table }}>
                </td>
                <td class="checkboxes">
                    <input type="checkbox" v-model="ids" :value="record.id"/>
                </td>
            </tr>
            </tbody>
        </table>
    </template>
    <div v-if="first">
        <pckg-dynamic-paginator :ref="'maestro-paginator'"
                                :per-page="paginator.perPage"
                                :initial-page="computed(paginator.page)"
                                :total="paginator.total"
                                :url="paginator.url"
                                :resetpaginatorurl="resetPaginatorUrl"
                                :initial-records="records"
                                :initial-groups="groups"
        ></pckg-dynamic-paginator>
    </div>
</div>