<div class="pckg-maestro-table-{{ table }}">
    <template v-if="depth > 0">
        <table class="table table-striped table-hover">
            <tr v-for="(record,i) in records" :key="record.id">
                <td>
                    <legend v-if="groups[depth - 1][i]">${ groups[depth - 1][i] }</legend>
                    <legend v-else>${ i }</legend>
                    <!--<pckg-maestro-table-{{ table }} :ref="'maestro-table'"
                                                    :fields="fields"
                                                    :initial-records="record"
                                                    :groups="groups"
                                                    :depth="depth - 2"
                                                    :entityactions="entityactions"
                                                    :table="table"
                                                    :paginator="paginator"
                                                    :first=""></pckg-maestro-table-{{ table }}>-->
                </td>
            </tr>
        </table>
    </template>
    <template v-if="depth < 1">
        <table class="table table-condensed table-striped table-hover">
            <thead>
            <tr>
                <th>
                    <div>
                        <div>
                            <input type="checkbox" @click="this.allChecked = !this.allChecked"
                                   v-model="allChecked"
                                   value="1"/>
                        </div>
                    </div>
                </th>
                <th class="text-right">
                    <!--<div>
                        <div>
                            {{ __('pckg.generic.btn.selectAll') }}
                        </div>
                    </div>-->
                </th>
                <th v-for="field in fieldsWhy"
                    :class="field.fieldType && field.fieldType.slug ? field.fieldType.slug : ''">
                    <div @click.prevent="togglefield(field.id)">
                        ${ field.title }
                        <span v-if="sort.field == field.id">
                                <i class="fa"
                                   :class="[sort.dir == 'up' ? 'fa-chevron-up' : 'fa-chevron-down']"></i>
                            </span>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="record in records"
                :class="[record.tabelizeClass ? record.tabelizeClass : '', ids.indexOf(record.id) >= 0 ? 'selected' : '']">
                <td class="checkboxes">
                    <input type="checkbox" v-model="ids" :value="record.id"/>
                </td>
                <td class="actions">
                    <pckg-maestro-actions-{{ table }} :record="record"
                                                      :recordactionhandler="recordactionhandler"
                                                      :identifier="identifier"></pckg-maestro-actions-{{ table }}>
                </td>
                <td v-for="field in fieldsWhy"
                    :class="[field.fieldType && field.fieldType.slug ? field.fieldType.slug : '', record[field.field] && (record[field.field].length > 120 || typeof record[field.field] == 'object') ? 'long' : '']">
                    <pckg-maestro-field :field="field" :record="record" :model="record[field.field]"
                                        :table="table"></pckg-maestro-field>
                </td>
            </tr>
            </tbody>
        </table>
    </template>
    <div v-if="first">
        <pckg-dynamic-paginator :ref="'maestro-paginator'"
                                :initial-per-page="paginator.perPage"
                                :initial-page="computed(paginator.page)"
                                :total="paginator.total"
                                :url="paginator.url"
                                :resetpaginatorurl="resetPaginatorUrl"
                                :initial-records="records"
                                :initial-groups="groups"
        ></pckg-dynamic-paginator>
    </div>
</div>