{% import _self as selfMacros %}

{% set table = tabelize.getEntity().getTable() %}

{% set records = tabelize.getRecords() %}
{% set fields = tabelize.getFields() %}
{% set recordActions = tabelize.getRecordActions() %}
{% set entityActions = tabelize.getEntityActions() %}

{% set id = 'pckg-maestro-table-' ~ table ~ '-panel' %}
{% set instance = table %}

{% do _vueManager.addView('Pckg/Maestro:_pckg_maestro_actions_template', { recordActions: recordActions, table: table }, true) %}
{% do _vueManager.addView('Pckg/Maestro:_pckg_maestro_actions') %}
{% do _vueManager.addView('Pckg/Maestro:_pckg_maestro_field') %}
{% do _vueManager.addView('Pckg/Maestro:_tabelize_config', { table: table, tabelize: tabelize }, true) %}
{% do _vueManager.addView('Pckg/Maestro:_table', { table: table, searchUrl: searchUrl, tabelize: tabelize, viewType: viewType, tab: tab }, true) %}

<div>
    <pckg-maestro-table-{{ table }} :ref="'maestro-table'"
                                    :fields="{{ tabelize.getFields() | json_encode | escape }}"
                                    :initial-records="{{ tabelize.transformRecords() | json_encode(JSON_PARTIAL_OUTPUT_ON_ERROR) | escape }}"
                                    :groups="{{ tabelize.getGroups() | json_encode | escape }}"
                                    :depth="{{ tabelize.getGroups() | length }}"
                                    :entityactions="{{ tabelize.getEntityActions() | json_encode | escape }}"
                                    :table="{{ tabelize.getTable() | json_encode | escape }}"
                                    :paginator="{{ tabelize.getPaginator() | json_encode | escape }}"
                                    :total="{{ tabelize.getTotal() }}"
                                    :first="1"></pckg-maestro-table-{{ table }}>

    <pckg-maestro-table-config-{{ table }}></pckg-maestro-table-config-{{ table }}>
</div>