<div class="pageStructure">
    <p><label>Route:</label>: {{ route.route }}</p>
    <div class="row">
        <div class="col-md-12">
            <pckg-generic-page-structure variable="header"></pckg-generic-page-structure>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <pckg-generic-page-structure variable="left"></pckg-generic-page-structure>
        </div>
        <div class="col-md-6">
            <pckg-generic-page-structure variable="content"></pckg-generic-page-structure>
        </div>
        <div class="col-md-3">
            <pckg-generic-page-structure variable="right"></pckg-generic-page-structure>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <pckg-generic-page-structure variable="footer"></pckg-generic-page-structure>
        </div>
    </div>
    <script type="text/x-template" id="pckg-generic-page-structure">
        <div>
        {% embed 'Pckg/Generic/View/modal.twig' with {'close': true, 'id': 'pageStructureModal'} %}
            {% block header %}
                Add action
            {% endblock %}
            {% block body %}
                {{ actionMorphForm | raw }}
            {% endblock %}
        {% endembed %}
        {% embed 'Pckg/Generic/View/modal.twig' with {'close': true, 'id': 'changeContentModal'} %}
            {% block header %}
                Change content
            {% endblock %}
            {% block body %}
                <ul>
                    <li>Select content (content, offer, news, form, ...)</li>
                    <li>Select template (default, ...)</li>
                    <li>Select wrapping method (default, col-md-*, container, ...)</li>
                    <li>Configure other settings</li>
                </ul>
            {% endblock %}
        {% endembed %}
        {% embed 'Pckg/Generic/View/modal.twig' with {'close': true, 'id': 'deleteActionModal'} %}
            {% block header %}
                Delete action
            {% endblock %}
            {% block body %}
                Do you really want to remove action?
            {% endblock %}
        {% endembed %}
        {% embed 'Pckg/Generic/View/modal.twig' with {'close': true, 'id': 'setPermissionsModal'} %}
            {% block header %}
                Set permissions
            {% endblock %}
            {% block body %}
                Set read permissions for different user groups ...
            {% endblock %}
        {% endembed %}

        {% embed 'Pckg/Generic/View/panel.twig' %}
            {% block content %}
                ${ variable }
                <a href="#" class="btn btn-default btn-xs pull-right" @click.prevent="addAction">
                    <i class="fa fa-plus"></i>
                </a>
                <table class="table table-condensed">
                    <tr v-for="action in allActions(variable)">
                        <td>
                            <div>
                                ${ action.method } @ ${ action.class }
                            </div>
                        </td>
                        <td>
                            <input type="number" class="form-control narrow"/>
                        </td>
                        <td>
                            <div class="btn-group pull-right" role="group" aria-label="...">
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Options
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" @click.prevent="openSetPermissionsModal(action)">Set
                                                permissions</a></li>
                                        <li><a href="#" @click.prevent="openChangeActionModal(action)">Change
                                                content</a>
                                        </li>
                                        <li><a href="#" @click.prevent="openDeleteActionModal">Delete action</a></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            {% endblock %}
        {% endembed %}
        </div>
    </script>
    <script type="text/javascript">
        data.variables = {{ variables.toJSON() | raw }};
        data.route = {{ route.toJSON() | raw }};
        data.routeActions = {{ routeActions.toJSON() | raw }};
        data.layoutActions = {{ layoutActions.toJSON() | raw }};
        data.layout = {% if layout %}{{ layout.toJSON() | raw }}{% else %}{}{% endif %};
        data.formActionMorph = {{ actionsMorph.toJSON() | raw }};
        data.actions = {{ actions.toJSON() | raw }};

        Vue.component('pckg-generic-page-structure', {
            mixins: [pckgDelimiters],
            template: '#pckg-generic-page-structure',
            props: {
                variable: {
                    required: true,
                    type: String
                }
            },
            data: function () {
                return {
                    route: data.route,
                    layout: data.layout,
                    actions: data.actions,
                    form: data.formActionMorph,
                    routeActions: data.routeActions,
                    layoutActions: data.layoutActions
                };
            },
            methods: {
                allActions: function (variable) {
                    var all = [];
                    $.each(this.routeActions[variable], function (i, action) {
                        all.push(action);
                    });
                    $.each(this.layoutActions[variable], function (i, action) {
                        all.push(action);
                    });

                    return all;
                },
                addAction: function () {
                    $('#pageStructureModal').modal('show');
                },
                openDeleteActionModal: function () {
                    $('#deleteActionModal').modal('show');
                },
                openChangeActionModal: function () {
                    $('#changeContentModal').modal('show');
                },
                openSetPermissionsModal: function () {
                    $('#changePermissionsModal').modal('show');
                },
                onSubmit: function () {
                    http.submitForm(this)
                            .done(function (json) {
                                console.log('Done', json);
                            });
                }
            }
        });
    </script>

</div>