{{ _gtmManager | raw }}

{{ _metaManager.getMeta('header.first') | raw }}

{{ _seoManager | raw }}

{{ _metaManager.getMeta('header') | raw }}

<!-- libraries css, less and js -->
{{ _assetManager.getMeta(['css', 'less', 'js'], ['libraries']) | raw }}

<script>
    props.locale = '{{ _localeManager.getCurrent() }}';
</script>

<!-- main css, less and js -->
{{ _assetManager.getMeta(['css', 'less', 'js'], ['main']) | raw }}

<!-- external assets-->
{{ _assetManager.getExternals() | raw }}

<!-- vue components -->
{{ _vueManager.getComponents() | raw }}

<script type="text/x-template" id="vue-pckg-select">
    <div class="pckg-select">
        <select v-if="multiple" class="form-control" multiple v-model="selectedMultiple"
                data-live-search="true">
            <option v-for="(option, key) in finalOptions" :value="key" v-html="option"></option>
            <optgroup v-for="(optgroup, label) in finalOptionGroups" :label="label">
                <option v-for="(option, key) in optgroup" :value="key" v-html="option"></option>
            </optgroup>
        </select>
        <select v-else class="form-control" v-model="selectedSingle"
                data-live-search="true">
            <option v-for="(option, key) in finalOptions" :value="key" v-html="option"></option>
            <optgroup v-for="(optgroup, label) in finalOptionGroups" :label="label">
                <option v-for="(option, key) in optgroup" :value="key" v-html="option"></option>
            </optgroup>
        </select>
    </div>
</script>

<script>

    Vue.component('pckg-select', {
        mixins: [pckgDelimiters, pckgTimeout],
        name: 'pckg-select',
        template: '#vue-pckg-select',
        model: {
            prop: 'selected',
            event: 'input'
        },
        data: function () {
            return {
                options: this.initialOptions,
                selectedMultiple: [this.selected],
                selectedSingle: this.selected,
            };
        },
        props: {
            withEmpty: {
                default: true
            },
            initialOptions: {
                default: function(){
                    return [];
                }
            },
            selected: {
                default: function(){
                    return [];
                }
            },
            initialMultiple: {
                default: true,
                type: Boolean
            },
            refreshUrl: {
                type: String,
                default: ''
            }
        },
        computed: {
            finalOptions: function () {
                var options = {'': ' -- select value -- '};

                $.each(this.options, function (key, item) {
                    if (typeof item != 'string') {
                        return;
                    }

                    options[key] = item;
                });

                return options;
            },
            finalOptionGroups: function () {
                var options = {};
                $.each(this.options, function (key, item) {
                    if (typeof item == 'string') {
                        return;
                    }

                    options[key] = item;
                });

                return options;
            },
            multiple: function () {
                return this.initialMultiple;
            }
        },
        watch: {
            selected: function (newVal) {
                this.$emit('input', newVal);
            },
            selectedMultiple: function (newVal) {
                this.$emit('input', newVal);
            },
            selectedSingle: function (newVal) {
                this.$emit('input', newVal);
            },
            options: function (newVal) {
                console.log('options watcher: options changed');
                Vue.nextTick(function () {
                    console.log('refreshing selectpicker');
                    $(this.$el).find('select').selectpicker('refresh');
                }.bind(this));
            }
        },
        methods: {
            refreshList: function () {
                this.timeout('refreshList', function () {
                    if (this.refreshUrl.length == 0) {
                        console.log("no refresh url");
                        return;
                    }

                    http.getJSON(this.refreshUrl + '?search=' + $(this.$el).find('.bs-searchbox input').val(), function (data) {
                        this.options = data.records;
                    }.bind(this));
                }.bind(this), 333);
            }
        },
        mounted: function () {
            $(this.$el).find('select').selectpicker({
                liveSearch: true
            });

            /*$(this.$el).find('select').on('change', function () {
                console.log('changing', $(this.$el).find('select').val());
                this.$emit('input', $(this.$el).find('select').val());
            }.bind(this));*/

            $(this.$el).find('.bs-searchbox input').on('keyup', function () {
                this.refreshList();
            }.bind(this));

            /**
             * Initial fetch.
             */
            if (this.options.length == 0 && this.refreshUrl.length > 0) {
                this.refreshList();
            }
        }
    });
</script>

<!-- vue filters -->
{{ _vueManager.getFilters() | raw }}

<!-- google fonts -->
{{ _assetManager.getGoogleFonts() | raw }}

<!--  vue css, less and js -->
{{ _assetManager.getMeta(['css', 'less', 'js'], ['vue']) | raw }}

<!-- vue live components -->
{{ _vueManager.getViews() | raw }}

<script>
    var Pckg = Pckg || {};
    Pckg.config = {};
    Pckg.config.locale = {
        format: {
            dateMoment: 'LL',
            timeMoment: 'LT'
        },
        currency: 'EUR',
        currencySign: '€'
    };

    {% if _env.isDev() %}
    Vue.config.debug = true;
    Vue.config.silent = false;
    Vue.config.devtools = true;
    {% endif %}

    Vue.filter('price', function (price, decimals) {
        return locale.price(price, decimals);
    });

    Vue.filter('roundPrice', function (price, decimals) {
        return locale.roundPrice(price, decimals);
    });

    Vue.filter('date', function (date, format) {
        return locale.date(date, format);
    });

    Vue.filter('datetime', function (date, format) {
        return locale.datetime(date, format);
    });
</script>

{{ _metaManager.getMeta('headerLast') | raw }}

<script type="text/x-template" id="pckg-dispatcher-notifications-template">
    <div class="pckg-dispatcher-notifications-wrapper">
        <div class="alert alert-dismissible alert-fixed" role="alert"
             :class="'alert-' + notification.type"
             v-for="notification in notifications">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true" @click="removeNotification(notification)">&times;</span></button>
            <div v-html="notification.content"></div>
        </div>
    </div>
</script>

<script>
    Vue.component('pckg-dispatcher-notifications', {
        name: 'pckg-dispatcher-notifications',
        template: '#pckg-dispatcher-notifications-template',
        mixins: [pckgTimeout, pckgDelimiters],
        data: function () {
            return {
                notifications: []
            };
        },
        methods: {
            removeNotification: function (notification) {
                this.notifications.splice(this.notifications.indexOf(notification), 1);
            }
        },
        created: function () {
            $dispatcher.$on('notification:success', function (msg) {
                var notification = {
                    content: msg,
                    type: 'success'
                };
                this.notifications.push(notification);
                this.timeout('autoclose', function () {
                    this.removeNotification(notification);
                }.bind(this), 2500, notification);
            }.bind(this));
            $dispatcher.$on('notification:error', function (msg) {
                var notification = {
                    content: msg,
                    type: 'danger'
                };
                this.notifications.push(notification);
                this.timeout('autoclose', function () {
                    this.removeNotification(notification);
                }.bind(this), 5000, notification);
            }.bind(this));
        }
    });
</script>