<!DOCTYPE html>
<html>
<head>
    {{ _seoManager | raw }}

    {{ _metaManager | raw }}

    {{ _assetManager.getMeta(['css', 'js'], ['libraries', 'main']) | raw }}

    {{ _assetManager.getGoogleFonts() | raw }}

    {{ _assetManager.getExternals() | raw }}

    <script type="text/javascript">


        var http = {

            formToData: function (vueElement, keys) {
                var data = {};

                $.each(keys, function (i, key) {
                    data[key] = vueElement.form[key];
                });

                return data;
            },

            submitForm: function (vueElement, fields) {
                var data = http.formToData(vueElement, fields);
                var $form = $(vueElement.$el);
                var url = $form.attr('action');

                $.post(url, data, function (data) {

                }, 'JSON');
            },

            getJSON: function (url, onSuccess) {
                $.get(url, 'JSON').success(onSuccess)
            }

        };
    </script>
</head>
<body path="vendor\lfw\generic\Pckg\Generic\View\generic.twig">
<div class="container">
    {% block content %}{{ content | raw }}{% endblock %}
</div>

{{ _assetManager.getMeta(['css', 'js'], ['footer']) | raw }}
{% if _debugBar %}
    {# temp, we need to execute this before render in PHP #}
    {% set renderer = _debugBar.getJavascriptRenderer() %}
    {% set renderHead = renderer.renderHead() %}
    {% set render = renderer.render() %}
    {{ renderHead | raw }}
    {{ render | raw }}
{% endif %}
</body>
</html>