<div class="modal fade" tabindex="-1" role="dialog"{% if id %} id="{{ id }}"{% endif %}>
    <div class="modal-dialog {{ class }}">
        <div class="modal-content">
            {% if vueLoading %}
                <template v-if="{{ vueLoading }}"><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i></template>
            {% endif %}
            <template{{ vueLoading ? ' v-else' : '' }}>
                {% if block('header') or close %}
                    <div class="modal-header">
                        {% if close %}
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>{% endif %}
                        <h4 class="modal-title">{% block header %}{% endblock %}</h4>
                    </div>
                {% endif %}
                {% if block('body') %}
                    <div class="modal-body"{% if minHeight %} style="min-height: {{ minHeight }};"{% endif %}>
                        {% block body %}{% endblock %}
                    </div>
                {% endif %}
                {% if block('footer') or close %}
                    <div class="modal-footer">
                        {% block footer %}{% endblock %}
                        {% if close %}
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close
                            </button>{% endif %}
                    </div>
                {% endif %}
            </template>
        </div>
    </div>
</div>