<script type="text/x-template" id="pckg-editor">
    <div class="pckg-editor" :class="'pckg-editor-type-' + action.type">

        {% embed 'Pckg/Generic/View/modal.twig' with {'close': true, 'class': 'modal-lg', id: 'editBlockModal'} %}
            {% block header %}
                Edit block
            {% endblock %}
            {% block body %}
                <div>
                    <!-- Nav tabs -->
                    <ul class="nav nav-pills" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#content" aria-controls="content" role="tab"
                               data-toggle="tab">Content</a>
                        </li>
                        <li role="presentation">
                            <a href="#module" aria-controls="module" role="tab"
                               data-toggle="tab">Module</a>
                        </li>
                        <li role="presentation">
                            <a href="#style" aria-controls="style" role="tab"
                               data-toggle="tab">Style</a>
                        </li>
                        <li role="presentation">
                            <a href="#background" aria-controls="background" role="tab"
                               data-toggle="tab">Background</a>
                        </li>
                        <li role="presentation">
                            <a href="#permissions" aria-controls="permissions" role="tab"
                               data-toggle="tab">Permissions</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane" id="style">
                            <template v-for="(scopes, title) in availableScopes">
                                <label v-text="title"></label>
                                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                    <a class="btn" :class="scopeSelected(css) ? 'btn-primary' : 'btn-default'"
                                       v-for="(title, css) in scopes" v-text="title" @click.prevent="toggleScope(css)"></a>
                                </div>
                            </template>

                            <label>Padding (@deprecated - use scopes)</label>
                            <input class="form-control" v-model="settings.padding"/>

                            <label>Margin (@deprecated - use scopes)</label>
                            <input class="form-control" v-model="settings.margin"/>

                            <label>Class (@deprecated - use scopes)</label>
                            <input class="form-control" v-model="settings.class"/>

                            <div v-if="action.type == 'wrapper'">
                            </div>
                            <div v-else-if="action.type == 'container'">
                                <h4>Container</h4>
                                <label>Container</label>
                                <pckg-select v-model="settings.container"
                                             :initial-options="availableContainers"></pckg-select>
                            </div>
                            <div v-else-if="action.type == 'row'">

                            </div>
                            <div v-else-if="action.type == 'column'">
                                <h4>Column</h4>

                                <label>Width</label>
                                <pckg-select v-model="settings.width" :initial-options="availableWidths"></pckg-select>

                                <label>Offset</label>
                                <pckg-select v-model="settings.offset"
                                             :initial-options="availableOffsets"></pckg-select>
                            </div>
                            <div v-else-if="action.type == 'action'">

                            </div>
                            <a :href="'/dev.php/tools/page-structure?route=' + routeId + '&action=' + action.id">Edit in
                                /maestro page structure</a>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="background">
                            <h4>Background</h4>
                            <label>Color</label>
                            <input class="form-control" v-model="settings.bgColor"/>

                            <label>Image</label>
                            <pckg-htmlbuilder-dropzone
                                    :current="settings.bgImage"
                                    :url="backgroundImageUploadUrl"
                                    id="pckg-editor-dropzone"
                                    v-model="settings.bgImage"></pckg-htmlbuilder-dropzone>

                            <template v-if="settings.bgImage && settings.bgImage.length">
                                <label>Attachment</label>
                                <pckg-select v-model="settings.bgAttachment"
                                             :initial-options="availableBackgroundAttachments"
                                             :initial-multiple="false"></pckg-select>

                                <label>Position</label>
                                <pckg-select v-model="settings.bgPosition"
                                             :initial-options="availableBackgroundPositions"
                                             :initial-multiple="false"></pckg-select>

                                <label>Repeat</label>
                                <pckg-select v-model="settings.bgRepeat"
                                             :initial-options="availableBackgroundRepeats"
                                             :initial-multiple="false"></pckg-select>

                                <label>Size</label>
                                <pckg-select v-model="settings.bgSize"
                                             :initial-options="availableBackgroundSizes"
                                             :initial-multiple="false"></pckg-select>
                            </template>

                            <label>Video</label>
                            <div class="row">
                                <div class="col-md-6">
                                    <pckg-select v-model="settings.bgVideoSource"
                                                 :initial-options="availableBgVideoSources"
                                                 :initial-multiple="false"></pckg-select>
                                </div>
                                <div class="col-md-6" v-if="settings.bgVideoSource && settings.bgVideoSource.length">
                                    <input class="form-control" v-model="settings.bgVideo" placeholder="Video ID"/>
                                </div>
                            </div>
                            <template v-if="settings.bgVideo && settings.bgVideo.length">
                                <label>Display</label>
                                <pckg-select v-model="settings.bgVideoDisplay"
                                             :initial-options="availableVideoDisplays"
                                             :initial-multiple="false"></pckg-select>

                                <label>Autoplay</label>
                                <pckg-select v-model="settings.bgVideoAutoplay"
                                             :initial-options="availableVideoAutoplays"
                                             :initial-multiple="false"></pckg-select>

                                <label>Loop</label>
                                <pckg-select v-model="settings.bgVideoLoop"
                                             :initial-options="availableVideoLoops"
                                             :initial-multiple="false"></pckg-select>

                                <label>Controls</label>
                                <pckg-select v-model="settings.bgVideoControls"
                                             :initial-options="availableVideoControls"
                                             :initial-multiple="false"></pckg-select>
                            </template>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="module">
                            <template v-if="action.slug == 'pckg-generic-content-simple'">
                                <h4>Generic content module</h4>

                                {{ _formService.addCheckbox('settings[noPadding]').setLabel('No padding')
                                .setAttribute('v-model', 'settings.noPadding') | raw }}

                                {{ _formService.addSelect('settings[picturePosition]').setLabel('Picture position')
                                .setAttribute('v-model', 'settings.picturePosition')
                                .addOptions({'':'None','left':'Left','right':'Right'}) | raw }}

                                <label>Picture width</label>
                                <pckg-select v-model="settings.pictureWidth"
                                             :initial-options="availableWidths"></pckg-select>

                                <label>Picture offset</label>
                                <pckg-select v-model="settings.pictureOffset"
                                             :initial-options="availableOffsets"></pckg-select>

                                <label>Content width</label>
                                <pckg-select v-model="settings.contentWidth"
                                             :initial-options="availableWidths"></pckg-select>

                                <label>Content offset</label>
                                <pckg-select v-model="settings.contentOffset"
                                             :initial-options="availableOffsets"></pckg-select>

                                <label>Heading</label>
                                <pckg-select v-model="settings.contentHeading"
                                             :initial-options="availableHeadings"></pckg-select>
                            </template>
                            <template v-else-if="action.slug == 'offer-gallery'">
                                <h4>Offer gallery module</h4>

                                <label>Offer resolver</label>
                                <input class="form-control">
                            </template>
                            <template v-else-if="action.slug == 'gallery'">
                                <h4>Gallery module</h4>

                                <label>Gallery</label>
                                <input class="form-control">
                            </template>
                        </div>
                        <div role="tabpanel" class="tab-pane active" id="content">
                            <pckg-htmleditor v-model="content.content" id="pckg-editor-htmleditor"></pckg-htmleditor>
                            <br/>

                            <button class="btn btn-success" @click.prevent="saveContent">Save content</button>
                            <button class="btn btn-warning" @click.prevent="duplicateContent">Copy #${ content.id }
                            </button>
                            <button class="btn btn-primary" @click.prevent="createContent">Create empty</button>
                            <a class="btn btn-danger popup-iframe" :href="'/dynamic/records/edit/73/' + content.id">Full
                                edit</a>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="permissions">
                            <p>... are waiting to be copied from backend</p>
                        </div>
                    </div>
                </div>
            {% endblock %}
            {% block footer %}
                <div role="group" class="btn-group pull-left" style="text-align: right;">
                    <a type="button" href="#" title="Add child" class="btn btn-success" @click.prevent="addChild">
                        <i aria-hidden="true" class="fa fa-plus"></i> Add child
                    </a>
                    <div class="btn-group pull-left dropup">
                        <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                title="More" class="btn btn-danger dropdown-toggle">
                            <span class="caret"></span> <span class="sr-only">More</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="#" @click.prevent>
                                    <i aria-hidden="true" class="fa fa-download"></i> Export
                                </a>
                            </li>
                            <li>
                                <a href="#" @click.prevent>
                                    <i aria-hidden="true" class="fa fa-upload"></i> Import
                                </a>
                            </li>
                            <li>
                                <a href="#" @click.prevent>
                                    <i aria-hidden="true" class="fa fa-trash-o danger"></i> Delete
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <input type="button" class="btn btn-success" @click.prevent="saveSettings" value="Save settings"/>
            {% endblock %}
        {% endembed %}
        {% embed 'Pckg/Generic/View/modal.twig' with {'close': true, 'class': 'modal-max', id: 'addNewActionModal'} %}
            {% block header %}
                Add new action
            {% endblock %}
            {% block body %}
                <div class="pckg-icons">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Elements</h2>

                            <div class="item" v-for="partial in partials">
                                <div class="icon" @click.prevent="addAction(partial.obj)">
                                    <div class="title" v-text="partial.title"></div>
                                    <div v-html="partial.htmlIcon"></div>
                                </div>
                            </div>

                            <h2>Structures</h2>

                            <div class="item" v-for="partial in structures">
                                <div class="icon" @click.prevent="addAction(partial.obj)">
                                    <div class="title" v-text="partial.title"></div>
                                    <div v-html="partial.htmlIcon"></div>
                                </div>
                            </div>

                            <h2>Pages</h2>

                            <div class="item" v-for="partial in pages">
                                <div class="icon" @click.prevent="addAction(partial.obj)">
                                    <div class="title" v-text="partial.title"></div>
                                    <div v-html="partial.htmlIcon"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}
        {% endembed %}
    </div>
</script>

<script type="text/javascript">
    Vue.component('pckg-editor', {
        props: {
            routeId: {
                type: Number
            }
        },
        name: 'pckg-editor',
        template: '#pckg-editor',
        mixins: [pckgDelimiters],
        data: function () {
            return {
                settings: {
                    padding: '',
                    margin: '',
                    'class': '',
                    scopes: [],
                    scopesArr: [],
                    bgColor: '',
                    bgImage: '',
                    bgAttachment: '',
                    bgPosition: '',
                    bgRepeat: '',
                    bgSize: '',
                    bgVideoSource: '',
                    bgVideo: '',
                    bgVideoDisplay: '',
                    bgVideoAutoplay: '',
                    bgVideoLoop: '',
                    bgVideoControls: ''
                },
                availableScopes: {{ config('pckg.generic.scopes') | json_encode | raw }},
                availableContainers: {'container': 'Wrapped container', 'container-fluid': 'Fluid container'},
                availableBackgroundSizes: {'contain': 'Contain', 'cover': 'Cover'},
                availableBackgroundRepeats: {
                    'no-repeat': 'No repeat',
                    'repeat-x': 'Repeat X',
                    'repeat-y': 'Repeat Y',
                    'repeat': 'Repeat'
                },
                availableBackgroundAttachments: {'fixed': 'Fixed', 'scroll': 'Scroll', 'local': 'Local'},
                availableBackgroundPositions: {'top-center': 'Top center', 'center-center': 'Center center'},
                availableBgVideoSources: {'': 'None', 'vimeo': 'Vimeo', 'youtube': 'Youtube'},
                availableVideoDisplays: {'popup': 'Popup', 'background': 'Background'},
                availableVideoControls: {'yes': 'Yes', 'no': 'No'},
                availableVideoLoops: {'yes': 'Yes', 'no': 'No'},
                availableVideoAutoplays: {'no': 'No', 'yes': 'Yes', 'on-scroll': 'On scroll'},
                availableHeadings: {'h1': 'H1', 'h2': 'H2', 'h3': 'H3', 'h4': 'H4', 'h5': 'H5'},
                action: {},
                content: {
                    content: ''
                },
                partials: {{ partials | json_encode | raw }},
                structures: {{ structures | json_encode | raw }},
                pages: {{ pages | json_encode | raw }}
            };
        },
        created: function () {
            $dispatcher.$on('pckg-editor:actionChanged', this.openEditModal);
        },
        methods: {
            scopeSelected: function (scope) {
                return this.settings.scopesArr.indexOf(scope) >= 0;
            },
            toggleScope: function (scope, group) {
                if (this.scopeSelected(scope)) {
                    utils.splice(this.settings.scopesArr, scope);
                } else {
                    this.settings.scopesArr.push(scope);
                }
            },
            addChild: function () {
                $('#addNewActionModal').modal('show');
            },
            addAction: function (c) {
                http.post(utils.url('{{ url('pckg.generic.pageStructure.actionsMorph.addPartial') }}', {actionsMorph: this.action.id}), {
                    partial: c
                }, function (data) {
                    if (data.success) {
                        $dispatcher.$emit('notification:success', 'Action added');
                    }
                });
            },
            openEditModal: function (action) {
                this.action = action;
                $('#editBlockModal').modal('show');
                http.getJSON(utils.url('{{ url('pckg.generic.pageStructure.actionsMorphSettings') }}', {actionsMorph: this.action.id}), function (data) {
                    this.settings = data.settings;
                }.bind(this));
                http.getJSON(utils.url('{{ url('pckg.generic.pageStructure.actionsMorphContent') }}', {actionsMorph: this.action.id}), function (data) {
                    this.content = data.content;
                }.bind(this));
            },
            saveSettings: function () {
                http.post(utils.url('{{ url('pckg.generic.pageStructure.actionsMorphSettings') }}', {actionsMorph: this.action.id}), {settings: this.settings}, function (data) {
                    console.log(data);
                });
            },
            duplicateContent: function () {
                http.post(utils.url('{{ url('pckg.generic.pageStructure.duplicateActionsMorphContent') }}', {actionsMorph: this.action.id}), {}, function (data) {
                    this.content = data.content;
                }.bind(this));
            },
            createContent: function () {
                http.post(utils.url('{{ url('pckg.generic.pageStructure.createActionsMorphContent') }}', {actionsMorph: this.action.id}), {}, function (data) {
                    this.content = data.content;
                }.bind(this));
            },
            saveContent: function () {
                http.post(utils.url('{{ url('pckg.generic.pageStructure.content') }}', {content: this.content.id}), {content: this.content}, function (data) {
                    this.content = data.content;
                }.bind(this));
            }
        },
        computed: {
            availableWidths: function () {
                var sizes = {'xs': {}, 'sm': {}, 'md': {}, 'lg': {}, 'xl': {}};
                var range = Array.apply(null, Array(12)).map(function (_, i) {
                    return i + 1;
                });

                $.each(sizes, function (i, size) {
                    $.each(range, function (j, range) {
                        sizes[i]['col-' + i + '-' + range] = 'col-' + i + '-' + range;
                    });
                });

                return sizes;
            },
            availableOffsets: function () {
                var sizes = {'xs': {}, 'sm': {}, 'md': {}, 'lg': {}, 'xl': {}};
                var range = Array.apply(null, Array(12)).map(function (_, i) {
                    return i + 1;
                });

                $.each(sizes, function (i, size) {
                    $.each(range, function (j, range) {
                        sizes[i]['col-' + i + '-offset-' + range] = 'col-' + i + '-offset-' + range;
                    });
                });

                return sizes;
            },
            backgroundImageUploadUrl: function () {
                return utils.url('{{ url('pckg.generic.pageStructure.actionsMorphBackgroundImage') }}', {actionsMorph: this.action.id});
            }
        }
    });
</script>