<script type="text/x-template" id="pckg-editor">
    <div class="pckg-editor" :class="'pckg-editor-type-' + action.type">

        {% embed 'Pckg/Generic/View/modal.twig' with {'close': true, 'class': 'modal-lg', id: 'editBlockModal'} %}
            {% block header %}
                Edit block
            {% endblock %}
            {% block body %}
                <div>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#content" aria-controls="content" role="tab"
                               data-toggle="tab">Content</a>
                        </li>
                        <li role="presentation">
                            <a href="#module" aria-controls="module" role="tab"
                               data-toggle="tab">Module</a>
                        </li>
                        <li role="presentation">
                            <a href="#style" aria-controls="style" role="tab"
                               data-toggle="tab">Style</a>
                        </li>
                        <li role="presentation">
                            <a href="#background" aria-controls="background" role="tab"
                               data-toggle="tab">Background</a>
                        </li>
                        <li role="presentation">
                            <a href="#permissions" aria-controls="permissions" role="tab"
                               data-toggle="tab">Permissions</a>
                        </li>
                        <li role="structure">
                            <a href="#structure" aria-controls="structure" role="tab"
                               data-toggle="tab">Structure</a>
                        </li>
                        <li role="presentation">
                            <a href="#danger" aria-controls="danger" role="tab"
                               data-toggle="tab">Danger zone</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="style">
                            <label>Padding</label>
                            <input class="form-control" v-model="settings.padding"/>

                            <label>Margin</label>
                            <input class="form-control" v-model="settings.margin"/>

                            <label>Class</label>
                            <input class="form-control" v-model="settings.class"/>

                            <label>Scopes</label>
                            <pckg-select v-model="settings.scopesArr" :initial-options="availableScopes"></pckg-select>

                            <div v-if="action.type == 'wrapper'">
                            </div>
                            <div v-else-if="action.type == 'container'">
                                <h4>Container</h4>
                                <label>Container</label>
                                <pckg-select v-model="settings.container"
                                             :initial-options="availableContainers"></pckg-select>
                            </div>
                            <div v-else-if="action.type == 'row'">

                            </div>
                            <div v-else-if="action.type == 'column'">
                                <h4>Column</h4>

                                <label>Width</label>
                                <pckg-select v-model="settings.width" :initial-options="availableWidths"></pckg-select>

                                <label>Offset</label>
                                <pckg-select v-model="settings.offset"
                                             :initial-options="availableOffsets"></pckg-select>
                            </div>
                            <div v-else-if="action.type == 'action'">

                            </div>
                            <a :href="'/dev.php/tools/page-structure?route=' + routeId + '&action=' + action.id">Edit in
                                /maestro page structure</a>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="background">
                            <h4>Background</h4>
                            <label>Color</label>
                            <input class="form-control" v-model="settings.bgColor"/>

                            <label>Image</label>
                            <pckg-htmlbuilder-dropzone
                                    :current="settings.bgImage"
                                    :url="backgroundImageUploadUrl"
                                    id="pckg-editor-dropzone"
                                    v-model="settings.bgImage"></pckg-htmlbuilder-dropzone>

                            <template v-if="settings.bgImage && settings.bgImage.length">
                                <label>Attachment</label>
                                <pckg-select v-model="settings.bgAttachment"
                                             :initial-options="availableBackgroundAttachments"
                                             :initial-multiple="false"></pckg-select>

                                <label>Position</label>
                                <pckg-select v-model="settings.bgPosition"
                                             :initial-options="availableBackgroundPositions"
                                             :initial-multiple="false"></pckg-select>

                                <label>Repeat</label>
                                <pckg-select v-model="settings.bgRepeat"
                                             :initial-options="availableBackgroundRepeats"
                                             :initial-multiple="false"></pckg-select>

                                <label>Size</label>
                                <pckg-select v-model="settings.bgSize"
                                             :initial-options="availableBackgroundSizes"
                                             :initial-multiple="false"></pckg-select>
                            </template>

                            <label>Video</label>
                            <div class="row">
                                <div class="col-md-6">
                                    <pckg-select v-model="settings.bgVideoSource"
                                                 :initial-options="availableBgVideoSources"
                                                 :initial-multiple="false"></pckg-select>
                                </div>
                                <div class="col-md-6" v-if="settings.bgVideoSource && settings.bgVideoSource.length">
                                    <input class="form-control" v-model="settings.bgVideo" placeholder="Video ID"/>
                                </div>
                            </div>
                            <template v-if="settings.bgVideo && settings.bgVideo.length">
                                <label>Display</label>
                                <pckg-select v-model="settings.bgVideoDisplay"
                                             :initial-options="availableVideoDisplays"
                                             :initial-multiple="false"></pckg-select>

                                <label>Autoplay</label>
                                <pckg-select v-model="settings.bgVideoAutoplay"
                                             :initial-options="availableVideoAutoplays"
                                             :initial-multiple="false"></pckg-select>

                                <label>Loop</label>
                                <pckg-select v-model="settings.bgVideoLoop"
                                             :initial-options="availableVideoLoops"
                                             :initial-multiple="false"></pckg-select>

                                <label>Controls</label>
                                <pckg-select v-model="settings.bgVideoControls"
                                             :initial-options="availableVideoControls"
                                             :initial-multiple="false"></pckg-select>
                            </template>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="module">
                            <template v-if="action.slug == 'pckg-generic-content-simple'">
                                <h4>Generic content module</h4>

                                {{ _formService.addCheckbox('settings[noPadding]').setLabel('No padding')
                                .setAttribute('v-model', 'settings.noPadding') | raw }}

                                {{ _formService.addSelect('settings[picturePosition]').setLabel('Picture position')
                                .setAttribute('v-model', 'settings.picturePosition')
                                .addOptions({'':'None','left':'Left','right':'Right'}) | raw }}

                                <label>Picture width</label>
                                <pckg-select v-model="settings.pictureWidth"
                                             :initial-options="availableWidths"></pckg-select>

                                <label>Picture offset</label>
                                <pckg-select v-model="settings.pictureOffset"
                                             :initial-options="availableOffsets"></pckg-select>

                                <label>Content width</label>
                                <pckg-select v-model="settings.contentWidth"
                                             :initial-options="availableWidths"></pckg-select>

                                <label>Content offset</label>
                                <pckg-select v-model="settings.contentOffset"
                                             :initial-options="availableOffsets"></pckg-select>

                                <label>Heading</label>
                                <pckg-select v-model="settings.contentHeading"
                                             :initial-options="availableHeadings"></pckg-select>
                            </template>
                            <template v-else-if="action.slug == 'offer-gallery'">
                                <h4>Offer gallery module</h4>

                                <label>Offer resolver</label>
                                <input class="form-control">
                            </template>
                            <template v-else-if="action.slug == 'gallery'">
                                <h4>Gallery module</h4>

                                <label>Gallery</label>
                                <input class="form-control">
                            </template>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="content">
                            <br/>
                            <pckg-htmleditor v-model="content.content" id="pckg-editor-htmleditor"></pckg-htmleditor>
                            <br/>

                            <button class="btn btn-success" @click.prevent="saveContent">Save content</button>
                            <button class="btn btn-warning" @click.prevent="duplicateContent">Copy #${ content.id }
                            </button>
                            <button class="btn btn-primary" @click.prevent="createContent">Create empty</button>
                            <a class="btn btn-danger popup-iframe" :href="'/dynamic/records/edit/73/' + content.id">Full
                                edit</a>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="permissions">
                            <p>... are waiting to be copied from backend</p>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="structure">
                            <button class="btn btn-primary" @click.prevent="addChild">Add child</button>
                            <button class="btn btn-primary" @click.prevent="addChild">Add after</button>
                            <button class="btn btn-primary" @click.prevent="addChild">Add before</button>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="danger">
                            <button class="btn btn-danger">Delete</button>
                            <p>Click on this button will delete this and sub-actions and contents if used only here.</p>

                            <button class="btn btn-primary">Export</button>
                            <button class="btn btn-info">Import</button>
                        </div>
                    </div>
                </div>
            {% endblock %}
            {% block footer %}
                <input type="button" class="btn btn-success" @click.prevent="saveSettings" value="Save settings"/>
            {% endblock %}
        {% endembed %}
        {% embed 'Pckg/Generic/View/modal.twig' with {'close': true, 'class': 'modal-max', id: 'addNewActionModal'} %}
            {% block header %}
                Add new action
            {% endblock %}
            {% block body %}
                <div class="pckg-icons">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Elements</h2>

                            <div class="item">
                                <div class="icon">
                                    <div class="title">Text</div>
                                    <span class="line big"></span>
                                    <span class="line"></span>
                                    <span class="line"></span>
                                    <span class="line"></span>
                                    <span class="line"></span>
                                    <span class="line"></span>
                                    <span class="line"></span>
                                </div>
                            </div>

                            <div class="item">
                                <div class="icon">
                                    <div class="title">Image</div>
                                    <span class="image"></span>
                                </div>
                            </div>

                            <div class="item">
                                <div class="icon">
                                    <div class="title">Text + image</div>
                                    <div class="half">
                                        <span class="line big"></span>
                                        <span class="line"></span>
                                        <span class="line"></span>
                                        <span class="line"></span>
                                        <span class="line"></span>
                                        <span class="line"></span>
                                        <span class="line"></span>
                                    </div>
                                    <div class="half">
                                        <span class="image vertical"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="icon">
                                    <div class="title">Video</div>
                                    <span class="video"></span>
                                </div>
                            </div>

                            <div class="item">
                                <div class="icon">
                                    <div class="title">Double text</div>
                                    <div class="half">
                                        <span class="line big"></span>
                                        <span class="line"></span>
                                        <span class="line"></span>
                                        <span class="line"></span>
                                        <span class="line"></span>
                                        <span class="line"></span>
                                        <span class="line"></span>
                                    </div>
                                    <div class="half">
                                        <span class="line big"></span>
                                        <span class="line"></span>
                                        <span class="line"></span>
                                        <span class="line"></span>
                                        <span class="line"></span>
                                        <span class="line"></span>
                                        <span class="line"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="icon">
                                    <div class="title">Heading</div>
                                    <span class="text horizontal-center">&lt;h*&gt;</span>
                                </div>
                            </div>

                            <div class="item">
                                <div class="icon">
                                    <div class="title">Hero</div>
                                    <div class="image auto-height">
                                        <div class="half horizontal-center horizontal-padding">
                                            <span class="line big"></span>
                                            <span class="line"></span>
                                            <span class="line"></span>
                                            <span class="btn horizontal-center"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="icon">
                                    <div class="title">Box</div>
                                    <div class="box">
                                        <span class="line big"></span>
                                        <span class="line"></span>
                                        <span class="line"></span>
                                        <span class="line"></span>
                                        <span class="line"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="icon">
                                    <div class="title">Double box</div>
                                    <div class="half">
                                        <div class="box">
                                            <span class="line big"></span>
                                            <span class="line"></span>
                                            <span class="line"></span>
                                            <span class="line"></span>
                                            <span class="line"></span>
                                        </div>
                                    </div>
                                    <div class="half">
                                        <div class="box inverted">
                                            <span class="line big"></span>
                                            <span class="line"></span>
                                            <span class="line"></span>
                                            <span class="line"></span>
                                            <span class="line"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="icon">
                                    <div class="title">Listing</div>
                                    <span class="line dot"></span>
                                    <span class="line dot"></span>
                                    <span class="line dot"></span>
                                    <span class="line dot"></span>
                                    <span class="line dot"></span>
                                    <span class="line dot"></span>
                                </div>
                            </div>

                            <div class="item">
                                <div class="icon">
                                    <div class="title">Table</div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="icon">
                                    <div class="title">Background video</div>
                                    <span class="video"></span>
                                </div>
                            </div>

                            <div class="item">
                                <div class="icon">
                                    <div class="title">Gallery</div>
                                    <div class="as-fixed-table with-padding">
                                        <div>
                                            <span class="image"></span>
                                        </div>
                                        <div>
                                            <span class="image"></span>
                                        </div>
                                        <div>
                                            <span class="image"></span>
                                        </div>
                                        <div>
                                            <span class="image"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="icon">
                                    <div class="title">Line separator</div>
                                    <span class="line"></span>
                                </div>
                            </div>

                            <div class="item">
                                <div class="icon">
                                    <div class="title">Block separator</div>
                                    <span class="line big"></span>
                                </div>
                            </div>

                            <div class="item">
                                <div class="icon">
                                    <div class="title">Contents list</div>
                                    <div class="block">
                                        <div class="half">
                                            <span class="image"></span>
                                        </div>
                                        <div class="half">
                                            <span class="line big"></span>
                                            <span class="line"></span>
                                            <span class="btn horizontal-center"></span>
                                        </div>
                                    </div>
                                    <div class="block">
                                        <div class="half">
                                            <span class="line big"></span>
                                            <span class="line"></span>
                                            <span class="btn horizontal-center"></span>
                                        </div>
                                        <div class="half">
                                            <span class="image"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="icon">
                                    <div class="title">News list</div>
                                    <div class="block">
                                        <div class="half">
                                            <span class="image"></span>
                                        </div>
                                        <div class="half">
                                            <span class="line big"></span>
                                            <span class="line"></span>
                                            <span class="line"></span>
                                        </div>
                                    </div>
                                    <div class="block">
                                        <div class="half">
                                            <span class="image"></span>
                                        </div>
                                        <div class="half">
                                            <span class="line big"></span>
                                            <span class="line"></span>
                                            <span class="line"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="icon">
                                    <div class="title">Offers list</div>
                                    <div class="block">
                                        <div class="half">
                                            <span class="image"></span>
                                        </div>
                                        <div class="half">
                                            <span class="line big"></span>
                                            <span class="line"></span>
                                            <span class="btn"></span>
                                        </div>
                                    </div>
                                    <div class="block">
                                        <div class="half">
                                            <span class="image"></span>
                                        </div>
                                        <div class="half">
                                            <span class="line big"></span>
                                            <span class="line"></span>
                                            <span class="btn"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="icon">
                                    <div class="title">Link</div>
                                    <span class="link horizontal-center"></span>
                                </div>
                            </div>

                            <div class="item">
                                <div class="icon">
                                    <div class="title">Link group</div>
                                    <div class="as-fixed-table with-padding">
                                        <div>
                                            <span class="link block"></span>
                                        </div>
                                        <div>
                                            <span class="link block"></span>
                                        </div>
                                        <div>
                                            <span class="link block"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="icon">
                                    <div class="title">Button</div>
                                    <span class="btn horizontal-center"></span>
                                </div>
                            </div>

                            <div class="item">
                                <div class="icon">
                                    <div class="title">Button group</div>
                                    <div class="as-fixed-table with-padding">
                                        <div>
                                            <span class="btn block"></span>
                                        </div>
                                        <div>
                                            <span class="btn block"></span>
                                        </div>
                                        <div>
                                            <span class="btn block"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="icon">
                                    <div class="title">Steps</div>
                                    <span class="line big"></span>
                                    <div class="as-fixed-table with-padding">
                                        <div>
                                            <span class="line"></span>
                                        </div>
                                        <div>
                                            <span class="line"></span>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="as-fixed-table with-padding">
                                        <div>
                                            <span class="line"></span>
                                            <span class="line"></span>
                                            <span class="line"></span>
                                        </div>
                                        <div>
                                            <span class="line"></span>
                                            <span class="line"></span>
                                            <span class="line"></span>
                                        </div>
                                        <div>
                                            <span class="line"></span>
                                            <span class="line"></span>
                                            <span class="line"></span>
                                        </div>
                                        <div>
                                            <span class="line"></span>
                                            <span class="line"></span>
                                            <span class="line"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="icon">
                                    <div class="title">Signup form</div>
                                    <div class="image auto-height">
                                        <div class="as-fixed-table with-padding horizontal-padding vertical-padding">
                                            <div>
                                                <span class="line"></span>
                                            </div>
                                            <div>
                                                <span class="input"></span>
                                            </div>
                                            <div>
                                                <span class="line big"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="icon">
                                    <div class="title">Contact form</div>
                                    <div class="as-fixed-table with-padding">
                                        <div>
                                            <span class="line"></span>
                                        </div>
                                        <div>
                                            <span class="input"></span>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="as-fixed-table with-padding">
                                        <div>
                                            <span class="line"></span>
                                        </div>
                                        <div>
                                            <span class="input"></span>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="as-fixed-table with-padding">
                                        <div>
                                            <span class="line"></span>
                                        </div>
                                        <div>
                                            <span class="input"></span>
                                        </div>
                                    </div>
                                    <br/>
                                    <span class="btn"></span>
                                </div>
                            </div>

                            <div class="item">
                                <div class="icon">
                                    <div class="title">Inquiry form</div>
                                    <div class="as-fixed-table with-padding">
                                        <div>
                                            <span class="line"></span>
                                        </div>
                                        <div>
                                            <span class="input"></span>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="as-fixed-table with-padding">
                                        <div>
                                            <span class="line"></span>
                                        </div>
                                        <div>
                                            <span class="input"></span>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="as-fixed-table with-padding">
                                        <div>
                                            <span class="line"></span>
                                        </div>
                                        <div>
                                            <span class="input big"></span>
                                        </div>
                                    </div>
                                    <br/>
                                    <span class="btn"></span>
                                </div>
                            </div>

                            <h2>Pages</h2>

                            <div class="page">
                                <div class="icon">
                                    <div class="title">Blank</div>
                                    <span class="line big"></span>
                                    <div class="as-fixed-table with-padding">
                                        <div>
                                            <span class="line"></span>
                                        </div>
                                        <div>
                                            <span class="line"></span>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="as-fixed-table with-padding">
                                        <div>
                                            <span class="line"></span>
                                            <span class="line"></span>
                                            <span class="line"></span>
                                        </div>
                                        <div>
                                            <span class="line"></span>
                                            <span class="line"></span>
                                            <span class="line"></span>
                                        </div>
                                        <div>
                                            <span class="line"></span>
                                            <span class="line"></span>
                                            <span class="line"></span>
                                        </div>
                                        <div>
                                            <span class="line"></span>
                                            <span class="line"></span>
                                            <span class="line"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="page">
                                <div class="icon">
                                    <div class="title">Homepage</div>
                                    <span class="line big"></span>
                                    <div class="as-fixed-table with-padding">
                                        <div>
                                            <span class="line"></span>
                                        </div>
                                        <div>
                                            <span class="line"></span>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="as-fixed-table with-padding">
                                        <div>
                                            <span class="line"></span>
                                            <span class="line"></span>
                                            <span class="line"></span>
                                        </div>
                                        <div>
                                            <span class="line"></span>
                                            <span class="line"></span>
                                            <span class="line"></span>
                                        </div>
                                        <div>
                                            <span class="line"></span>
                                            <span class="line"></span>
                                            <span class="line"></span>
                                        </div>
                                        <div>
                                            <span class="line"></span>
                                            <span class="line"></span>
                                            <span class="line"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="page">
                                <div class="icon">
                                    <div class="title">Landing page</div>
                                    <span class="line big"></span>
                                    <div class="as-fixed-table with-padding">
                                        <div>
                                            <span class="line"></span>
                                        </div>
                                        <div>
                                            <span class="line"></span>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="as-fixed-table with-padding">
                                        <div>
                                            <span class="line"></span>
                                            <span class="line"></span>
                                            <span class="line"></span>
                                        </div>
                                        <div>
                                            <span class="line"></span>
                                            <span class="line"></span>
                                            <span class="line"></span>
                                        </div>
                                        <div>
                                            <span class="line"></span>
                                            <span class="line"></span>
                                            <span class="line"></span>
                                        </div>
                                        <div>
                                            <span class="line"></span>
                                            <span class="line"></span>
                                            <span class="line"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="page">
                                <div class="icon">
                                    <div class="title">Contact page</div>
                                    <span class="line big"></span>
                                    <div class="as-fixed-table with-padding">
                                        <div>
                                            <span class="line"></span>
                                        </div>
                                        <div>
                                            <span class="line"></span>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="as-fixed-table with-padding">
                                        <div>
                                            <span class="line"></span>
                                            <span class="line"></span>
                                            <span class="line"></span>
                                        </div>
                                        <div>
                                            <span class="line"></span>
                                            <span class="line"></span>
                                            <span class="line"></span>
                                        </div>
                                        <div>
                                            <span class="line"></span>
                                            <span class="line"></span>
                                            <span class="line"></span>
                                        </div>
                                        <div>
                                            <span class="line"></span>
                                            <span class="line"></span>
                                            <span class="line"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            {% endblock %}
        {% endembed %}
    </div>
</script>

<script type="text/javascript">
    Vue.component('pckg-editor', {
        props: {
            routeId: {
                type: Number
            }
        },
        name: 'pckg-editor',
        template: '#pckg-editor',
        mixins: [pckgDelimiters],
        data: function () {
            return {
                settings: {
                    padding: '',
                    margin: '',
                    'class': '',
                    scopes: [],
                    bgColor: '',
                    bgImage: '',
                    bgAttachment: '',
                    bgPosition: '',
                    bgRepeat: '',
                    bgSize: '',
                    bgVideoSource: '',
                    bgVideo: '',
                    bgVideoDisplay: '',
                    bgVideoAutoplay: '',
                    bgVideoLoop: '',
                    bgVideoControls: ''
                },
                availableScopes: {{ config('pckg.generic.scopes') | json_encode | raw }},
                availableContainers: {'container': 'Wrapped container', 'container-fluid': 'Fluid container'},
                availableBackgroundSizes: {'contain': 'Contain', 'cover': 'Cover'},
                availableBackgroundRepeats: {
                    'no-repeat': 'No repeat',
                    'repeat-x': 'Repeat X',
                    'repeat-y': 'Repeat Y',
                    'repeat': 'Repeat'
                },
                availableBackgroundAttachments: {'fixed': 'Fixed', 'scroll': 'Scroll', 'local': 'Local'},
                availableBackgroundPositions: {'top-center': 'Top center', 'center-center': 'Center center'},
                availableBgVideoSources: {'': 'None', 'vimeo': 'Vimeo', 'youtube': 'Youtube'},
                availableVideoDisplays: {'popup': 'Popup', 'background': 'Background'},
                availableVideoControls: {'yes': 'Yes', 'no': 'No'},
                availableVideoLoops: {'yes': 'Yes', 'no': 'No'},
                availableVideoAutoplays: {'no': 'No', 'yes': 'Yes', 'on-scroll': 'On scroll'},
                availableHeadings: {'h1': 'H1', 'h2': 'H2', 'h3': 'H3', 'h4': 'H4', 'h5': 'H5'},
                action: {},
                content: {
                    content: ''
                }
            };
        },
        created: function () {
            $dispatcher.$on('pckg-editor:actionChanged', this.openEditModal);
        },
        methods: {
            addChild: function () {
                $('#addNewActionModal').modal('show');
            },
            openEditModal: function (action) {
                this.action = action;
                $('#editBlockModal').modal('show');
                http.getJSON(utils.url('{{ url('pckg.generic.pageStructure.actionsMorphSettings') }}', {actionsMorph: this.action.id}), function (data) {
                    this.settings = data.settings;
                }.bind(this));
                http.getJSON(utils.url('{{ url('pckg.generic.pageStructure.actionsMorphContent') }}', {actionsMorph: this.action.id}), function (data) {
                    this.content = data.content;
                }.bind(this));
            },
            saveSettings: function () {
                http.post(utils.url('{{ url('pckg.generic.pageStructure.actionsMorphSettings') }}', {actionsMorph: this.action.id}), {settings: this.settings}, function (data) {
                    console.log(data);
                });
            },
            duplicateContent: function () {
                http.post(utils.url('{{ url('pckg.generic.pageStructure.duplicateActionsMorphContent') }}', {actionsMorph: this.action.id}), {}, function (data) {
                    this.content = data.content;
                }.bind(this));
            },
            createContent: function () {
                http.post(utils.url('{{ url('pckg.generic.pageStructure.createActionsMorphContent') }}', {actionsMorph: this.action.id}), {}, function (data) {
                    this.content = data.content;
                }.bind(this));
            },
            saveContent: function () {
                http.post(utils.url('{{ url('pckg.generic.pageStructure.content') }}', {content: this.content.id}), {content: this.content}, function (data) {
                    this.content = data.content;
                }.bind(this));
            }
        },
        computed: {
            availableWidths: function () {
                var sizes = {'xs': {}, 'sm': {}, 'md': {}, 'lg': {}, 'xl': {}};
                var range = Array.apply(null, Array(12)).map(function (_, i) {
                    return i + 1;
                });

                $.each(sizes, function (i, size) {
                    $.each(range, function (j, range) {
                        sizes[i]['col-' + i + '-' + range] = 'col-' + i + '-' + range;
                    });
                });

                return sizes;
            },
            availableOffsets: function () {
                var sizes = {'xs': {}, 'sm': {}, 'md': {}, 'lg': {}, 'xl': {}};
                var range = Array.apply(null, Array(12)).map(function (_, i) {
                    return i + 1;
                });

                $.each(sizes, function (i, size) {
                    $.each(range, function (j, range) {
                        sizes[i]['col-' + i + '-offset-' + range] = 'col-' + i + '-offset-' + range;
                    });
                });

                return sizes;
            },
            backgroundImageUploadUrl: function () {
                return utils.url('{{ url('pckg.generic.pageStructure.actionsMorphBackgroundImage') }}', {actionsMorph: this.action.id});
            }
        }
    });
</script>