{% if flash('dynamic.records.add.success', false) %}
    <pckg-bootstrap-alert style="success" text="{{ flash('dynamic.records.add.success') }}"></pckg-bootstrap-alert>
{% endif %}
{% if flash('dynamic.records.edit.success', false) %}
    <pckg-bootstrap-alert style="success" text="{{ flash('dynamic.records.edit.success') }}"></pckg-bootstrap-alert>
{% endif %}
<div class="pckg-dynamic-record-tabs">
    <h2>
        {{ formalize.getTitle() | raw }}
        {% if not formalize.getForm().isEditable() and record.id %}


            <!-- Split button -->
            <div class="btn-group pull-right">
                <a href="{{ record.editUrl }}" class="btn btn-default">Edit</a>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    {% if record.isTranslatable() %}
                        <li>
                            <a href="{{ record.deleteTranslationUrl }}">Delete translation</a>
                        </li>
                    {% endif %}
                </ul>
            </div>



        {% elseif record.id %}
            [record actions from list]
        {% endif %}
    </h2>

    <ul class="nav nav-tabs" role="tablist" id="ajaxTabs">
        <li role="presentation" class="active">
            <a href="#home" aria-controls="home" role="tab" data-toggle="tab">{{ __('pckg.dynamic.tab.home') }}</a>
        </li>
        {% for tab in tabs %}
            <li role="presentation">
                <a href="#dynamic-tab-{{ tab.id }}" aria-controls="dynamic-tab-{{ tab.id }}" role="tab"
                   data-toggle="tab"
                   @click.prevent="loadAjaxTab({{ tab.id }}, '{{ tab.getUrl() }}')">{{ tab.name }}</a>
            </li>
        {% endfor %}
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            {{ formalize | raw }}

            {% for tabelize in tabelizes.0 %}
                {{ tabelize | raw }}
            {% endfor %}
            {% for functionize in functionizes.0 %}
                {{ functionize | raw }}
            {% endfor %}
        </div>
        {% for tab in tabs %}
            <div role="tabpanel" class="tab-pane" id="dynamic-tab-{{ tab.id }}">
                <i class="fa fa-spinner fa-spin fa-3x fa-fw text-center"></i>
            </div>
        {% endfor %}
    </div>
</div>

<script>
    utils.pushToVue({
        data: {
            loadedTabs: {}
        },
        methods: {
            loadAjaxTab: function (tabId, url) {
                http.get(url + '?html=1', function (html) {
                    var $element = $('#dynamic-tab-' + tabId).html(html);
                    this.$compile($element.get(0));
                }.bind(this));
            }
        }
    });
</script>