{{ sortForm.open() | raw }}
<div class="row action dynamic-sort">
    <div class="col-sm-3 sort-skipped">
        {% embed 'Pckg/Generic/View/panel.twig' %}

            {% block title %}
            Skipped sorts on <i>{{ table.table }}</i>
            {% endblock %}

            {% block content %}
                <div class="form-group" v-for="sort in sorts">
                    <label class="col-sm-8">${ sort.label }</label>
                    <div class="col-sm-4">
                        <button class="btn btn-info btn-block" v-on:click.prevent="addSort(sort)">+</button>
                    </div>
                </div>
            {% endblock %}

        {% endembed %}
    </div>
    <div class="col-sm-9 sort-applied">
        {% embed 'Pckg/Generic/View/panel.twig' %}

            {% block title %}
                Applied sorts on <i>{{ table.table }}</i>
            {% endblock %}

            {% block content %}

                <p v-if="!applied.length">Add sorts from left panel</p>
                <div class="form-group" v-for="sort in applied">
                    <label class="col-sm-3">${ sorts[sort.field].label }</label>
                    <div class="col-sm-4">
                        <select v-model="sort.options.direction" class="form-control">
                            <option v-for="(key,option) in directions" :value="key">${ option.label }</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-danger btn-block" v-on:click.prevent="removeSort(sort)">-</button>
                    </div>
                </div>

                <button class="btn btn-success" v-on:click.prevent="save">Save to session</button>

            {% endblock %}

        {% endembed %}
    </div>
</div>
{{ sortForm.close() | raw }}

<script type="text/javascript">
    var data = data || {};

    data.directions = {{ directions | json_encode | raw }};
    data.sorts = {{ sorts | json_encode | raw }};
    data.appliedSorts = {{ appliedSorts | json_encode | raw }};

    var dynamicFilter = new Vue({
        el: '.action.dynamic-sort',
        data: function () {
            return {
                directions: data.directions,
                sorts: data.sorts,
                applied: data.appliedSorts,
            };
        },
        methods: {
            addSort: function (sort) {
                this.applied.push({
                    field: sort.field,
                    options: {
                        direction: 'ascending'
                    }
                });
            },
            removeSort: function (sort) {
                this.applied.$remove(sort);
            },
            buildAppliedSorts: function () {
                return this.applied;
            },
            save: function () {
                http.post('{{ saveSortUrl }}', function () {
                    return {
                        sorts: this.buildAppliedSorts(),
                    };
                }.bind(this), function (json) {
                    console.log('callback', json);
                });
            }
        }
    });
</script>