<div class="btn-group btn-group-sm">
    <a href="{{ tabelize.getEntityUrl('export', 'html') }}" class="btn btn-warning" title="{{ __('Export HTML') }}">
        <i class="fa fa-download" aria-hidden="true"></i> .html
    </a>

    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false" title="Export options">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
    </button>

    <ul class="dropdown-menu dropdown-menu-right">
        <li>
            <a href="{{ tabelize.getEntityUrl('export', 'xlsx') }}">
                <i class="fa fa-table" aria-hidden="true"></i> .xlsx
            </a>
        </li>
        <li>
            <a href="{{ tabelize.getEntityUrl('export', 'csv') }}">
                <i class="fa fa-table" aria-hidden="true"></i> .csv
            </a>
        </li>
        <li>
            <a href="{{ tabelize.getEntityUrl('export', 'docx') }}">
                <i class="fa fa-file-text-o" aria-hidden="true"></i> .docx
            </a>
        </li>
    </ul>
</div>