<div class="btn-group btn-group-sm">
    <a type="button" class="entity-action-view btn btn-default dropdown-toggle" href="#" title="{{ __('pckg.generic.btn.viewOptions') }}" data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-bars" aria-hidden="true"></i> {{ __('pckg.generic.btn.viewOptions') }}
    </a>
    <ul class="dropdown-menu dropdown-menu-right">
        <li><a href="{{ tabelize.getResetViewUrl() }}">{{ __('pckg.generic.btn.resetView') }}</a></li>
        {% if tabelize.getSavedViews() %}
            <li role="separator" class="divider"></li>
            {% for view in tabelize.getSavedViews() %}
                <li class="double-link">
                    <a href="{{ view.tableViewUrl }}?force=1">{{ view.title ? view.title : ('Saved view #' ~ view.id) }}</a>
                    <a href="#" class="pull-right" title="Delete view"><i class="fa fa-remove"></i></a>
                </li>
            {% endfor %}
        {% endif %}
        <li role="separator" class="divider"></li>
        <li><a href="#" class="customizeView" @click.prevent="entityAction('openConfigureViewModal')"><i class="fa fa-pencil" aria-hidden="true"></i> {{ __('pckg.generic.btn.customizeView') }}</a></li>
        <li><a href="{{ tabelize.getSaveViewUrl() }}" class="popup-iframe"><i class="fa fa-floppy-o" aria-hidden="true"></i> {{ __('pckg.generic.btn.saveView') }}</a></li>
    </ul>
</div>