<div class="btn-group btn-group-sm">
    <a type="button" class="btn btn-default dropdown-toggle" href="#" title="{{ __('view') }}" data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-right">
        <li><a href="{{ tabelize.getEntity().getResetViewUrl() }}">Default view</a></li>
        {% if tabelize.getEntity.getSavedViews() %}
            <li role="separator" class="divider"></li>
            {% for view in tabelize.getEntity.getSavedViews() %}
                <li><a href="{{ view.getLoadUrl() }}">{{ view.title ? view.title : ('Saved view #' ~ view.id) }}</a>
                </li>
            {% endfor %}
        {% endif %}
        <li role="separator" class="divider"></li>
        <li><a href="{{ tabelize.getEntity().getSaveViewUrl() }}" class="popup-iframe">Save current view</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="{{ tabelize.getEntity().getShareViewUrl() }}" class="popup-iframe">Share current view</a></li>
    </ul>
</div>