<div class="pckg-generic-content-simple">
    <div class="row {{ action.getSetting('noPadding') ? 'row-no-padding' : '' }}">
        {% if action.getSetting('picture') and action.getSetting('picturePosition') == 'left' %}
            <div class="{{ action.getSetting('pictureWidth') }} {{ action.getSetting('pictureOffset') }}">
                <img src="{{ content.picture }}" class="img-responsive"/>
            </div>
        {% endif %}
        {% if action.getSetting('content') %}
            <div class="{{ action.getSetting('contentWidth') }} {{ action.getSetting('contentOffset') }}">
                {{ content.content | raw }}
            </div>
        {% endif %}
        {% if action.getSetting('picture') and action.getSetting('picturePosition') == 'right' %}
            <div class="{{ action.getSetting('pictureWidth') }} {{ action.getSetting('pictureOffset') }}">
                <img src="{{ content.picture }}" class="img-responsive"/>
            </div>
        {% endif %}
    </div>
</div>